---
title: Documentation • Cloud Stove
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>
  <h1>Cloud Stove Documentation</h1>
  <p class="doc">
    <%= link_to "User Guide", "./backend/file.User_Guide.html" %>
  </p><!-- .doc -->
  <p class="doc">
    <%= link_to "Front End Docs", "./frontend/" %>
  </p><!-- .doc -->
  <p class="doc">
    <%= link_to "Backend Docs", "./backend/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
